<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!-- <div class="container">
  <h1>My First Bootstrap Page</h1>
  <p>This is some text.</p>
  
 <% @users.each do |user| %>
    <div class="col-xs-12">
      <div class="text-center">
        <h2><%= user.email %></h2>
      </div>
    </div>
  <% end %>
  -->

  
<div class="row">
  <%= link_to zone_list_path do %>
  <div class="col-md-3">
    <div class="btn btn-success btn-lg btn-block btn-huge">
      <h4>Acesso</h4>
    </div>
  </div>
  <% end %>
  
    <%= link_to zone_list_path do %>
  <div class="col-md-3">
    <div class="btn btn-success btn-lg btn-block btn-huge">
      <h4>Acionar Equipamento</h4>
    </div>
  </div>
  <% end %>
  
    <%= link_to zone_list_path do %>
  <div class="col-md-3">
    <div class="btn btn-success btn-lg btn-block btn-huge">
      <h4>Turno</h4>
    </div>
  </div>
  <% end %>
  
</div>

  
<!--  
<div class="row">
  <div class="col-md-3">
    <div class="btn btn-success btn-lg btn-block btn-huge">
      <%= link_to "Ativar/Desativar Zonas", zone_list_path %>
    </div>
  </div>
  <div class="col-md-3">
    <a href="#" class="btn btn-success btn-lg btn-block btn-huge">Test button</a>
  </div>
  <div class="col-md-3">
    <a href="#" class="btn btn-success btn-lg btn-block btn-huge">Test button</a>
  </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-success btn-lg btn-block btn-huge">Test button</a>
        </div>
    </div>
  
  
  
<!--
<div class="container">
  <br>
	<div class="row">
        <div class="col-md-3">
            
            <%= link_to "Ativar/Desativar Zonas", zone_list_path %>
            <div class="btn btn-primary btn-lg btn-block btn-huge">Ativar/Desativar Zonas</div>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-lg btn-block btn-huge">Atividade 2</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-lg btn-block btn-huge">Atividade 3</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-lg btn-block btn-huge">Atividade 4</a>
        </div>
	</div>  
  
  
</div>

-->

</body>
</html>